@media screen and (max-width: 400px){
    body {
        background-color:lawngreen;
    }
}
@media screen and (min-width:401px ) {
    body {
        background-color:blueviolet;
    }
}
@media screen and (min-width:600px ) {
    body {
        background-color:darkred;
    }
}